* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.profile {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: black;
    border: 2px solid rgba(202, 173, 173, 0.995);
    box-shadow: 0 0 10px rgba(255, 253, 253, 0.6);
    border-radius: 10px;
    display: flex;
}

.profile-heading {
    position: absolute;
    top: -55px;
    left: 30%;
    transform: translateX(-50%);
    font-size: 80px;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.profile-info {
    margin-right: auto;
    margin-left: 0;
    text-align: left;
    padding-left: 30px;
    color: white;
    padding-top: 100px;
}

.info {
    padding: 20px;
}

.info p::before,
.info p::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: white;
}

.info p {
    display: flex;
    width: 200px;
    color: white;
    padding-top:30px ;
    align-items: center;
    text-align: center;
}


.profile-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 60px;
    margin-right: 50px;
    box-shadow: 0 0 10px rgba(255, 253, 253, 0.9);
}